				<div class="msg media %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar" />
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%" wxId="%%WXNAME%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<div class="voicebox" style="width:%%AUDIOLENGTH%%px" audio="%%AUDIOPATH%%" onclick="javascript:playAudio(this, '%%MSGID%%');">
							<div class="voiceimg" id="voiceimg-%%MSGID%%"></div>
							<div class="voicetime">%%AUDIOTIME%%</div>
						</div>
					</div>
				</div>
