				<div class="msg media %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar" />
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%" wxId="%%WXNAME%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<div class="card-name">
							<img src="%%CARDIMGPATH%%" class="card-avatar" /><span class="dont-break-out msg-text">%%CARDNAME%%</span>
						</div>
						<div class="card-type">
							%%CARDTYPE%%
						</div>
					</div>
				</div>
