		<div class="msg chat-%%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
			<div class="avatar-box">
				<img src="%%AVATAR%%" class="avatar" />
			</div>
			<div class="nt-box"><span class="name-%%ALIGNMENT%%">%%NAME%%</span> %%TIME%%</div>
			<div class="content-box">
				<div class="triangle"></div>
				<div><a href="%%CHANNELURL%%"><img src="%%CHANNELTHUMBPATH%%" class="channel-poster" /></a></div>
				<div class="card-name channel-card">
					<img src="%%CARDIMGPATH%%" class="card-avatar" /><span class="card-name">%%CARDNAME%%</span>
				</div>
				<div>
					<span class="channel-title">%%MESSAGE%%</span>
				</div>
				<div class="card-type">
					%%CHANNELS%%
				</div>
			</div>
		</div>
