					<input placeholder="%%ML:Press [Enter] key after inputting keywords%%" id="filter-keyword" class="filter-btn" onkeypress="javascript:searchElements(event);" />
					&nbsp; 
					<a title="%%ML:Show Photos Only%%" id="filter-image" class="filter-btn" href="javascript:showImageMsgs(event);">%%ML:Photos%%</a>
					<a title="%%ML:Show Videos Only%%" id="filter-video" class="filter-btn" href="javascript:showVideoMsgs();">%%ML:Videos%%</a>
					<a title="%%ML:Show All Messages%%" id="filter-none" class="filter-btn" href="javascript:showAllMsgs();">%%ML:All%%</a>
