<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="yes" name="apple-touch-fullscreen">
		<style type=text/css>
			body {
				  background-color: #ebebeb;
				  font-family: -apple-system;
				  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
				}
            table {
                font-size: 10pt;
            }
    

		</style>
		<title>微信聊天记录</title>
	</head>
	<body>
    <table width="400" border="0" style="border-collapse:separate; word-break:break-all; word-wrap:break-word;" align="center">
    %%TBODY%%
    </table>
	</body>
</html>