				<div class="msg chat %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar" />
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%" wxId="%%WXNAME%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<div class="triangle"></div>
						<div>
							<div>
								<a href="%%SHARINGURL%%"><b><span class="dont-break-out msg-text"><pre>%%SHARINGTITLE%%</pre></span></b></a>
							</div>
							<div>
								<span class="dont-break-out msg-text"><pre>%%MESSAGE%%</pre></span>
							</div>
						</div>
						<div class="appinfo">
							<img src="%%APPICONPATH%%" class="app-icon" /><span class="app-name">%%APPNAME%%</span>
						</div>
						
					</div>
				</div>
