				<div class="msg chat %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar">
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%" wxId="%%WXNAME%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<div class="triangle"></div>
						<span class="dont-break-out refermsg msg-text"><pre>「%%REFERNAME%%：%%REFERMSG%%」</pre></span><br /><span>- - - - - - - - - - - - - - -</span><br /><span class="dont-break-out msg-text"><pre>%%MESSAGE%%</pre></span>
					</div>
				</div>
