  <script language="javascript">

    function loadMsgsForNextPage()
    {
      if (window.moreWechatMsgs.length == 0)
      {
          return false;
      }
      var fragment = document.createDocumentFragment();
      var div = document.createElement('div');
      fragment.appendChild(div);
      var innerHtml = "";
      for (var idx = 0; idx < Math.min(1000, window.moreWechatMsgs.length); idx++)
      {
        innerHtml += window.moreWechatMsgs.shift();
      }
      div.innerHTML = innerHtml;
      var containerDiv = document.getElementById('msgs-div');
      if (null != containerDiv)
      {
        containerDiv.appendChild(fragment);
      }

      return true;
    }
    function loadMoreMsgs()
    {
      window.requestAnimationFrame(function() {
        if (loadMsgsForNextPage())
        {
          loadMoreMsgs();
        }
      });
    }

    function checkScrollDirectionIsUp(e)
    {
      if (e.wheelDelta)
      {
        return e.wheelDelta > 0;
      }
      return e.deltaY < 0;
    }

    addEventListener('load', function (e)
    {
      window.moreWechatMsgs = %%JSONDATA%%;
      window.currentIndex = 0;
      var asyncLoadingType = "%%ASYNCLOADINGTYPE%%";
      if (asyncLoadingType == "initial")
      {
        window.setTimeout(loadMoreMsgs, 1000);
      }
      else if (asyncLoadingType == "onscroll")
      {
        document.addEventListener('scroll', function(e)
        {
          if (!checkScrollDirectionIsUp(e))
          {
          var lastDiv = document.querySelector("#msgs-div > div:last-child");
          var lastDivOffset = lastDiv.offsetTop + lastDiv.clientHeight;
          var pageOffset = window.pageYOffset + window.innerHeight;

          if(pageOffset > lastDivOffset - 20)
          {
            loadMsgsForNextPage();
          }
          }
        }, false);
        
      }
    }, false);

  </script>
