				<div class="msg chat %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar" />
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<div class="triangle"></div>
						<div>
							<div style="display:table-cell;">
								<img src="%%SHARINGIMGPATH%%" style="max-width:60px;max-height:60px" />
							</div>
							<div style="display:table-cell; vertical-align: middle; padding-left: 8px;">
								<div>
									<a href="%%SHARINGURL%%"><b>%%SHARINGTITLE%%</b></a>
								</div>
								<div>
									<span class="dont-break-out msg-text">%%MESSAGE%%</span>
								</div>
							</div>
						</div>
						<div class="appinfo">
							<img src="%%APPICONPATH%%" class="app-icon" /><span class="app-name">%%APPNAME%%</span>
						</div>
					</div>
				</div>
