				<div class="msg chat %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar" />
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%" wxId="%%WXNAME%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<div class="triangle"></div>
						<div>
							<div>
								<span class="dont-break-out msg-text"><pre>%%MESSAGE%%</pre></span>
							</div>
						</div>
						<div class="appinfo">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAARVBMVEXokT7////+/fzqnF745dvzzrnyyrP44tfxxKnokkD99vL89PD88u356eHtsIntroPsqn7rom3pmljpl1Lxwqjtso3sqXzLUHXSAAAAhElEQVRIx+3OSQ6DMBBE0a72AGYmJLn/UWNEsooE1RJskN/6l1RS3Eaabb3zmCz90EIX4UUFKj5/VMiedD+2yNSxfa1Y9fydTeT6d4d9/3dMgwCcPyjscChcPNBou9SNQonYeCec/neH5BRZMwir/t6heUBD4vtF0bzEYFrvmMxJirv4AJJMA1GI1RpRAAAAAElFTkSuQmCC" class="transfer-icon" /><span class="app-name">%%ML:Weixin Transfer%%</span>
						</div>
						
					</div>
				</div>
