				<div class="msg media %%ALIGNMENT%% %%EXTRA_CLS%%" msgid="%%MSGID%%" msgtype="%%MSGTYPE%%">
					<div class="avatar-box">
						<img src="%%AVATAR%%" class="avatar" />
					</div>
					<div class="nt-box"><span class="dspname %%ALIGNMENT%%" wxId="%%WXNAME%%">%%NAME%%</span> %%TIME%%</div>
					<div class="content-box">
						<video controls preload="none" autoplay="false" data-poster="%%THUMBPATH%%" class="lazyload"><source src="%%VIDEOPATH%%" type="video/mp4"><a href="%%VIDEOPATH%%">%%ML:Play%%</a></video>
					</div>
				</div>
