.vs/
Win32/
*.user
*.swp
*.o
*.lo
*.la
*.pc
*.log
*.exe
*~
.kateconfig
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
depcomp
doxygen.cfg
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/Makefile
src/Makefile.in
src/.libs
src/.deps
fuzz/.deps
fuzz/.libs
include/Makefile
include/Makefile.in
libcnary/Makefile
libcnary/Makefile.in
libcnary/.libs
libcnary/.deps
tools/Makefile
tools/Makefile.in
tools/.libs
tools/.deps
tools/plistutil
test/Makefile
test/Makefile.in
test/.libs
test/.deps
test/plist_cmp
test/plist_test
test/data/*.out
cython/Makefile
cython/Makefile.in
cython/.deps
cython/.libs
cython/plist.c
test-driver
